*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}


/* FONTS */

@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Regular'),
    local('Lato Regular'),
    url('/Lato/Lato-Regular.ttf') format('TrueType');
  /* font-display: swap; */
}

@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 300;

  src: local('Lato-Light'),
    local('Lato Light'),
    url('/Lato/Lato-Light.ttf') format('TrueType');
  /* font-display: swap; */
}

@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 700;

  src: local('Lato-Bold'),
    local('Lato Bold'),
    url('/Lato/Lato-Bold.ttf') format('TrueType');
  /* font-display: swap; */
}

:root {
  color-scheme: dark;
  --test-var: 8;
  /* --white: #F9F5FF;
  --black: #020617;
  --purple: #998FC7;
  --pink: #D4C2FC;
  --blue-100: #0A0125;
  --blue-200: #2A2447;
  --green: #59C3C3; */
  --white: 249, 245, 255;
  --black: 2, 6, 23;
  --purple: 153, 143, 199;
  --pink: 212, 194, 252;
  --blue-100: 10, 1, 37;
  --blue-150: 20, 15, 45;
  --blue-170: 35, 35, 65;
  --blue-200: 42, 36, 71;
  --blue-250: 62, 56, 91;
  --green: 89, 195, 195;

  --text-xs: .75rem;
  --text-sm: .875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;

  background-color: rgba(var(--black));
}

body {
  font-family: lato, Arial, Helvetica, sans-serif;
  color: var(--white);
}


input,
button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
}
