.general-toolbar__player-buttons {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  vertical-align: top;
}

.general-toolbar__volume-control { 
  display: flex;
  align-items: center;
  gap: .5rem;
}

