.spinner__animation {
  --color: rgba(var(--white));
  --thickness: 2px;
  --size: 24px;
  height: var(--size);
  width: var(--size);
  border: var(--thickness) solid var(--color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  vertical-align: bottom;
  }

  @keyframes rotation {
    100% {
      transform: rotate(360deg);
    }
  } 